.*
!.obsidian/
!.vscode/
!.gitignore
!.github

# .trash/
# .exports/
obsvault/.obsidian/plugins/recent-files-obsidian/data.json

# Excel Temp Files
~\$*.xlsx

# Data (git add what you may want as part of repo)
#data/*
# Keep Samples - syntax tip https://stackoverflow.com/a/5534865/269078
# /* will not work, have to have !data/samples/  (and that's it).
!data/samples/
!data/samples/*
#$ data/samples/.*/
# *.csv
obs*/.obsidian/plugins/recent-files-obsidian/data.json
obs*/.obsidian/plugins/youhavebeenstaring-plugin/data.json
