.*
!.obsidian/
!.vscode/
!.gitignore

# .trash/
# .exports/
obsvault/.obsidian/plugins/recent-files-obsidian/data.json

# Excel Temp Files
~\$*.xlsx

# Data (git add what you may want as part of repo)
data/*
!data/samples/*
*.csv